{
  "env": {},
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "debug": false,
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "iOS >= 8",
            "Android >= 4",
            "ie >= 10"
          ],
          "node": "6.10"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-transform-react-remove-prop-types"
  ]
}
