@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Inter-BlackItalic.woff2)
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Inter-Thin.woff2)
    format("woff2");
}

.column1 {
  color: #FF0000;
}

.externalCustomFont {
  font-family: "Anton";
  font-weight: "normal";
  font-style: "normal";
}

.internalCustomFrontInterBlackItalic {
  font-family: "Inter";
  font-weight: 900;
  font-style: italic;
  font-feature-settings: "ss01" on;
}

.internalCustomFontInterThin {
  font-family: "Inter";
  font-weight: 100;
  font-style: normal;
  font-feature-settings: "ss01" on;
}

.indicator {
  font-size: 2rem;
  color: #FF0000;
  font-weight: 700;
}

.relativeCSS {
  border: solid 1px #FF0000;
}

.testClass {
  background: rgba(76, 175, 80, 0.3);
}

@media (max-width: 600px) {
  .testClass {
    color: rebeccapurple;
  }
}