.column1 {
  color: #FF0000;
}

.customFontInterBlackItalic {
  font-family: "Inter";
  font-weight: 900;
  font-style: italic;
  font-feature-settings: "ss01" on;
}
.customFontInterThin {
  font-family: "Inter";
  font-weight: 100;
  font-style: normal;
  font-feature-settings: "ss02" on;
}

.indicator {
  font-size: 2rem;
  color: #FF0000;
  font-weight: 700;
}

.relativeCSS {
  border: solid 1px #FF0000;
}

.testClass {
  background: rgba(76, 175, 80, 0.3);
}

@media (max-width: 600px) {
  .testClass {
    color: rebeccapurple;
  }
}